{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="welcome-container">
        <div class="recuperacion-card">
   
            {% if status == "show_form" %}
                <h2>Restablecer contraseña</h2>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar nueva contraseña</button>
                </form>

            {% elif status == "complete" %}
                <h2>✅ Tu contraseña fue restablecida con éxito.</h2>
                <a href="{% url 'login' %}">Ir al inicio</a>

            {% elif status == "show_form" %}
                <h2>⚠️ Hubo un error en el formulario</h2>
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar nueva contraseña</button>
                </form>

            {% elif status == "error" %}
                <h2>❌ Enlace inválido o caducado.</h2>
                <button onclick="window.location.href='{% url 'login' %}'" >Solicitar nuevo enlace</button>
            {% endif %}
        </div>
    </div>

{% endblock %}